.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: fit-content;
    border: solid 2px black;
    padding: 1em;
    margin: 1em;

    flex: 0 0 10%;
}

.image {
    background: red;
    width: 10em;
    height: 10em;
}